---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProductCard from '../components/ProductCard.astro';
---

<Layout title="Razorpay Clone">
  <Header />
  <main class="container mx-auto px-6 py-12">
    <div class="flex justify-center">
      <ProductCard />
    </div>
  </main>
</Layout>
