---
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-white flex flex-col min-h-screen">

		<main class="flex-grow">
			<slot />
		</main>

		<footer class="bg-gray-800/70 backdrop-blur-lg border-t border-white/10 mt-12 py-6">
            <div class="container mx-auto px-6 text-center text-gray-400">
                <p>
                    Maintained by <a href="https://github.com/MrTonychan" target="_blank" rel="noopener noreferrer" class="hover:text-white underline">Chandan Kumar</a>
                </p>
            </div>
        </footer>
	</body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>
